*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-image: url("/static/home_back.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat:repeat; 
    }

.container{
    align-self: center;
    width:80%; 
}
.dog{
    margin-top: 40px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:10px 30px;
    background-color:rgb(192, 179, 204);
    border:4px solid black;
    border-radius: 200px;
}
#img2{
    height:100px;
    border-radius:80px ;
}
#B{
    font-size:60px ;
    font-weight: bold;
    text-shadow:1px 1px 4px  blue;
}
#C{
    font-size: 25px;
}
.card_container{
    width:95%;
    height:95%;
    display:flex;
    flex-direction: column;

}
.card{
    border:3px solid black;
    width:105%;
    background-color:rgb(227, 223, 245);
    border-radius: 40px;
    margin-top:100px ;
    margin-left:10px;
    padding-top: 30px;
    padding-bottom: 40px;
    display:flex;
}
.predict{
    margin-left:40px;
    margin-bottom:20px;
    width:270px;
    display:flex;
}
.dabba{
    width:80px;
    height: 65px;
    margin:3px;
}
.dabba:hover{
    transform: rotate(180deg);
}

.img:hover {
    transform: translateY(-10px);
}
.button:hover{
    transform: translateY(-5px);
}

.img{
    width:300px;
    height:200px;
    margin-top:20px;
    margin-left:40px;
    border:2px solid black;
    border-radius: 15px;

}
.button{
    background-color: #48bb78;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;

    transition: background 0.3s;
}

.icon{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
#flip1 , #flip2{
    flex-direction: row-reverse;
    padding-right: 30px;
}
.para{
    font-size:25px;
    margin-left:6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing:15px ;
    text-shadow: 0.2px 0.2px 1px hsl(323, 100%, 59%);
    line-height:28px;
    padding:5px
}
.name{
    border:3px solid black;
    margin:50px;
    border-radius: 30px;
    background-color: rgb(179, 164, 194);
    width:400px;
}
footer{
    margin-top: 50px;
    margin-bottom: 50px;
}
#create{
    font-size: 25px;
    text-align: center;
    font-style: italic;
    text-shadow:1px 1px rgb(118, 114, 123);
    margin-bottom: 10px;
}
.name1{
    display: flex;
    justify-content: space-around;
    font-size:20px;
    font-weight: bold;
    color: red;
    text-shadow:1px 1px  white;
    padding-bottom: 20px;
}
