* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("/static/home_back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.dog {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(192, 179, 204);
    border: 4px solid black;
    border-radius: 50px;
}
h1{
    text-align: center;
    color: rgb(217, 255, 0);
}
#img2 {
    height:100px;
    border-radius:80px ;
}

#B {
    font-size:60px ;
    text-shadow: 1px 1px 4px blue;
    text-align: center;
}

#C{
    font-size: 25px;
    display: flex;
    gap: 15px;
}

.card_container{
    width:95%;
    height:95%;
    display:flex;
    flex-direction: column;

}

.card{
    border:3px solid black;
    width:105%;
    background-color:rgb(227, 223, 245);
    border-radius: 40px;
    margin-bottom:100px ;
    margin-left:10px;
    padding-top: 30px;
    padding-bottom: 40px;
    display:flex;
}

#flip1, #flip2 {
        flex-direction: row-reverse;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100vw;
    margin: 30px;
}
.para{
    font-size:25px;
    margin-left:6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing:15px ;
    text-shadow: 0.2px 0.2px 1px hsl(323, 100%, 59%);
    line-height:28px;
    padding:5px
}

@media ( max-width: 768px) {
    .card{
        text-align:left;
        flex-direction: column;
    }

    #flip1, #flip2 {
        flex-direction: column;
    }
    .icon{
        align-self:center;
        
        
    }
    #img2{
    height:60px;
    border-radius:40px ;
    }
    #B{
    font-size:20px ;
    }
    #C{
    margin-left:3px;
    font-size:10px;
    display: flex;
    gap:10px; 
    }
}
@media(max-width:1015px){
   #img2{
    border-radius:60px ;
    height:60px;
   }
   #B{
    font-size:40px ;
    }
    #C{
    font-size:25px;
    display: flex;
    gap:10px; 
    }

    
}
@media(max-width:500px){
    #img2{
    height:50px;
    border-radius:30px ;
    }
    #B{
    font-size:1.07rem ;
    }
    #C{
    font-size:13px;
    display: flex;
    gap:7px; 
    }
    h1{
        font-size: 20px;
    }
    
    .card{
    width:100%;
    background-color:rgb(227, 223, 245);
    border-radius: 40px;
    margin-bottom:200px ;
    margin-left:5px;
    padding-top: 20px;
    padding-bottom: 10px;
    display:flex;
    }
    .para{
    font-size:20px;
    padding: 0px;
    word-spacing: 5px;
    }
    .icon{
        padding-left: 30px;
        padding-right: 30px;
    }
    
}


.img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    transition: transform 0.3s;
}

.predict {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dabba {
    width: 60px;
    height: 60px;
    transition: transform 0.5s;
}

.dabba:hover { transform: rotate(180deg); }
.img:hover { transform: translateY(-10px); }
.button:hover { 
    transform: translateY(-5px);

}

.button{
    background-color: #48bb78;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}


footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 10px;
    width: 100%;
}

#create {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.name1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: red;
}