* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

body {
height: 100vh;
margin: 0;
display: flex;
justify-content: space-around;
gap: 30px;
align-items: center;
background-color: rgb(99, 220, 218);
}

.container {
background: white;
width: 40%;
height: 500px;
padding: 30px;
border-radius: 12px;
box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
text-align: center;
}

h1 {
margin-bottom: 20px;
color: #333;
}

label {
font-weight: 600;
color: #444;
font-size: 20px;
display: block;
margin-bottom: 8px;
}

textarea {
width: 100%;
height: 180px;
padding: 12px;
border-radius: 8px;
border: 3px solid black;
font-size: 14px;
}

button {
margin-top: 18px;
padding: 12px;
width: 100%;
border-radius: 8px;
font-size: 19px;
font-weight: bold;
cursor: pointer;
background: purple;
color: white;
transition: transform 0.2s
}

button:hover {
transform: translateY(-5px);
background-color: green;
}

#result {
margin-top: 20px;
font-size: 20px;
font-weight: bold;
}

.spams{
    width: 40%;
}

@media (max-width:768px){
    body{
        flex-direction: column;
    }
    .container{
        width: 80%;
    }
    .spams{
        width: 80%;
    }
}
ul{
    font-weight:350;
}