<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <form action="/review">
        <button type="submit">Enter MOVIE REVIEW</button><br><br>
    </form>

    <form action="/spam">
        <button type="submit">Enter SPam prediction</button><br><br>
    </form>

    <form action="/diabetes">
        <button type="submit">Enter Diabetes Prediction</button><br><br>
    </form>

    <form action="/churn">
        <button type="submit">Enter Churn Prediction</button><br><br>
    </form>

    <form action="/chat">
        <button type="submit">Enter Chat Bot</button><br><br>
    </form>


</body>
</html>